body {
  font-size: 16px;
  font-family: "Roboto",serif;
  background: transparent;
}

#authors{
    color:#999;
    font-weight:200
}

#about{
	font-size: 18px;
}

/* Graphs */
.chart rect {
  fill: green;
}

.chart text {
  fill: white;
  font: 10px tahoma;
  text-anchor: end;
}

path { 
    fill: none;
} 
.headway .axis path,
.headway .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.input-color {
    position: relative;
}
.input-color input {
    padding-left: 10px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
.line-chart .axis path,
.line-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

/* Footer and Social Buttons */
footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #286090;
}